@use './base';
.orgchart {

  ul {
    padding: 10px 0;
    text-align: center;
    display: flex;
    column-gap:10px;
    margin: 0;

    li {
      display: inline-block;
      position: relative;

      .oc-node {
        box-sizing: border-box;
        position: relative;
        padding: 3px;
        border: 1px solid base.$line-color;
        margin-bottom: 20px;
        border-radius: 50px;

        &.selected {
          background-color: base.$active-color;
        }
        &:hover {
          background-color: base.$active-color;
          cursor:pointer;
        }
        &:not(:only-child)::after {
          @include base.line-position;          
          bottom: -15px;
          height: 15px;
        }
      }
      
      ul {
        li {
          .oc-node {
            &::before {
              @include base.line-position;
              top: -11px;              
              height: 9px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: -11px;
            left: 0;
            width: 100%;
            border-top: 2px solid base.$line-color;
            box-sizing: border-box;
          }
          &:first-child::before {
            left: calc(50% - 1px);          
          }
          &:last-child::before {
            width: calc(50% + 11px);
            left:-10px;
          }
          &:only-child::before {
            width: 2px;
          }
        }
      }
      
    }
  }
}