.oc-node {
    width: 200px;
    display: inline-block;
    
    .node-item {
        padding: 5px;
        width: 40%;
        float: left;
        font-size: 0.7em;
        text-align: left;        

        .full-name {
            font-weight: bold;
        }
    }

    img {
        height:auto;
        border-radius: 50%;               
    }      
}